<link rel="stylesheet" href="<%= assetPath('styles/footer.css') %>">
<footer>
    <div>
        <p>
            &commat; Coding Ninjas. All rights reserved.
        </p>
    </div>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <% if (locals.user) { %>
            <li>
                <a href="/users/profile/<%= user.id %>">Profile</a>
            </li>
        <% } %>
    </ul>
</footer>