<div>
    <form action="/users/reset-password?accessToken=<%= accessToken %>" method="post">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="confirm_password" placeholder="Retype Password">
        <button type="submit">Submit</button>
    </form>
</div>