<h1>User SignUp</h1>

<form action="/users/create" method="post">
    <input type="email" id="email" name="email" placeholder="Enter email" required>
    <input type="password" id="password" name="password" placeholder="Enter password" required>
    <input type="password" id="confirm_password" name="confirm_password" placeholder="Enter password again" required>
    <input type="text" id="name" name="name" placeholder="Enter name" required>
    <button type="submit">Signup</button>
</form>

<br>

<button>
    <a href="/users/auth/google">Google SignIn/SignUp</a>
</button>