<h1>User SignIn</h1>

<form action="/users/start-session" method="post">
    <input type="text" id="email" name="email" placeholder="Enter email" required>
    <input type="password" id="password" name="password" placeholder="Enter password" required>
    <a href="/users/forgot-password">Forgot Password?</a>
    <button type="submit">Signin</button>
</form>

<br>

<button>
    <a href="/users/auth/google">Google SignIn/SignUp</a>
</button>