<div>
    <h3>
        Hi <%= resetPasswordUser.user.name %>,
    </h3>
    <p>
        Please click on link below to create new password.
    </p>
    <p>
        <a href="http://localhost:3000/users/reset-password?accessToken=<%= resetPasswordUser.accessToken %>">Reset Password</a> 
    </p>

    <h4>
        Thanks!
    </h4>
</div>