<div>
    <h3>
        Hi <%= comment.user.name %>,
    </h3>
    <p>
        You have successfully published comment on codeial.
    </p>
    <p>
        comment - <%= comment.content %>
    </p>

    <h4>
        Thanks!
    </h4>
</div>